@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Socialico";
  src: url("fonts/Socialico.ttf"); }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; }

header {
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #41c27d; }

nav {
  display: flex;
  align-items: center; }
  nav ul {
    width: 275px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none; }
    nav ul li a {
      color: #fff;
      display: block;
      text-decoration: none; }
      nav ul li a:hover {
        font-size: 17px;
        transition: all 0.8s ease; }

.socialNet {
  width: 123px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between; }
  .socialNet i {
    font-family: "Socialico";
    font-size: 33px;
    color: #fff;
    font-style: normal;
    cursor: pointer; }

.banner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/banner.png");
  background-size: cover;
  background-position-x: 53%;
  background-repeat: no-repeat; }
  .banner .contentBanner {
    width: 300px; }
    .banner .contentBanner h1 {
      margin: 0;
      font-size: 1.9rem;
      color: #525252; }
    .banner .contentBanner p {
      width: 200px;
      font-size: 1rem;
      color: #6e6c6c;
      line-height: 25px; }
    .banner .contentBanner .linkApp {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .banner .contentBanner .linkApp button {
        height: 56px;
        width: 150px;
        color: #525252;
        font-size: 0.9rem;
        cursor: pointer;
        border: 2px solid #525252;
        background-color: transparent; }
        .banner .contentBanner .linkApp button i {
          width: 11px;
          margin-right: 11px; }
        .banner .contentBanner .linkApp button:focus, .banner .contentBanner .linkApp button:active {
          box-shadow: none;
          outline: none; }

.enterpriseList {
  height: 92px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3; }
  .enterpriseList img {
    width: 70px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  background-color: #faf9f9; }
  main .product div img {
    margin-right: 46px; }

.description {
  width: 250px;
  color: #525252; }
  .description .textDescription h1 {
    margin: 0;
    font-size: 1.9rem;
    line-height: 41px; }
  .description .textDescription p {
    font-size: 0.9rem;
    line-height: 29px; }
  .description .itemsDescription {
    margin-top: 60px; }
    .description .itemsDescription div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 31px; }
      .description .itemsDescription div p {
        font-size: 0.9rem; }
  .description div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .description div button {
      height: 56px;
      font-size: 0.9rem;
      line-height: 29px;
      color: #525252;
      border: 2px solid #525252;
      background-color: transparent; }
    .description div p {
      color: #636363; }
